POSTGRES_DB=ai_db
POSTGRES_USER=ash
POSTGRES_PASSWORD=mysecretpassword
DB_HOST=localhost
DB_PORT=5432
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# MinIO Credentials
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Django Settings
DJANGO_SECRET_KEY=your-super-secret-django-key
DJANGO_DEBUG=True

# OpenAI key
OPENAI_KEY=sk-proj-